body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
.header_bg{
  background:url(../img/header/bg-header.jpg)no-repeat center top / cover;
  height: 800px;
}
.header_bg_2{
  background:url(../img/header/bg-2.jpg)no-repeat center top / cover;
  height: 800px;
}
ul li{
  list-style: none;
  text-transform: uppercase ;
  color:#fff;
  font-size: 14px;
  margin-left:50px;
}
#nav{
  display:flex;
  justify-content: space-around;
  padding-top: 50px;
  // margin-top: 70px;
}
li > a{
  color:#fff;
}
li > a:hover{
  color:rgb(70, 70, 119);
}
#menu > ul{
  display:flex;
}
.social > ul{
  display:flex;
}
.header_text h1{
  text-transform: uppercase;
  color:#fff;
  font-size: 80px;
  margin: 280px auto;
  text-align: center;
  letter-spacing: 10px;
}
.slider{
  margin-top: 0;
  height: 800px;
}
.header_text{
  height: 100px;
}
.header_text p{
  font-size: 20px;
  color:#fff;
  text-align: center;
  letter-spacing: 10px;
  margin-top: 10px; 
  font-weight: 100;
}
.header_arrow{
  width: 100px;
  margin: 200px auto;
  cursor: pointer;
}

.slider .slick_dots {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 3%;
  top: 38%; }
.slider .slick_dots li {
  display: block;
  margin: 20px 0; }
.slider .slick_dots button {
  outline: none;
  background-color: transparent;
  font-size: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 50%;
cursor: pointer; }
.slider .slick_dots button:hover, .slider .slick_dots button:active, .slider .slick_dots button:focus {
  background-color: #fff; }
.slider .slick_dots .slick_active button {
  background-color: #fff; }
#what_we_do{
  height: 815px;
  position: relative;
  }
#what_we_do h2{
  font-size: 44px;
  text-transform: uppercase;
  margin-top: 120px;
  text-align: center; 
  }
#img-2{
  position: absolute;
  top:400px;
  left: 150px;
  }
#img-1{
  position: absolute;
  left:0;
  }
.logos{
  margin-top: 110px;
  }
.main_content{
  display: flex;
  justify-content: space-around ;
  }
.main_content_text{
  margin-top: 100px;
  }
.main_content_text h2{
  font-size: 44px;
  font-weight: 300;
  }
.main_content_text > h2 > p{
  font-size: 22px;
  font-weight: 100;
  text-align: left;
  }
.main_content_text p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 25px;
  }
.button > a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  color:#2c4058;
  border:1px solid #2c4058; 
  padding:20px;
  }
.button{
  margin-top: 50px;
  }
.button > a:hover{
  background-color:#2c4058;
  color:#fff;
  }
.italic{
  font-family: 'Italianno', cursive;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  margin-top: 100px;
  }
#commerce{
  height: 815px;
  padding-top: 150px;
  position: relative;
  } 
#img-3{
  position: absolute;
  right:150px;
  top:230px;
   }
#img-4{
  position: absolute;
  right:0;
  top: 170px;
  }
#news{
  height: 1035px;
  background:url(../img/news/news-bg.png)no-repeat center top / cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  }  
#news_head > h2{
  color:#fff;
  font-size: 44px;
  text-transform: uppercase;
  }
#news_head{
  margin-top: 140px;
  }
.multiple-items {
  width: 80%;
  margin: 0 auto; 
  margin-top: 100px;
  }  
.elements {
  height: 520px;
  width: 373px;
  margin: 0 20px;
  background-color: white;
  color: #232323; 
  } 
.elements:hover{
  opacity: 0.6;
  } 
.elements-text {
  padding: 20px;
  height: 300px; 
  }
.user{
  display: flex;
  text-transform: uppercase;
  }
.date{
  color:#77c5ff;
  }
.multiple-items .multiple_dots {
  display: flex;
  flex-direction: row;
  margin-left: 450px;
  }
.multiple-items .multiple_dots li {
  display: block;
  margin: 20px 15px; }
.multiple-items .multiple_dots button {
  outline: none;
  background-color: transparent;
  font-size: 0;
  width: 10px;
  height: 10px;
  padding: 0;
  border: 1px solid #fff;
  border-radius: 50%;
cursor: pointer; }
.multiple-items .multiple_dots button:hover, .multiple-items .multiple_dots button:active, .multiple-items .multiple_dots button:focus {
  background-color: #fff; }
.multiple-items .multiple_dots .slick_active button {
  background-color: #fff; }
#gallery{
  height: 1000px;
  }
#gallery h2{
  text-transform: uppercase;
  font-size: 44px;
  } 
.gallery_head{
  text-align: center;
  margin-top: 140px;
  }  
.gallery_images{
  display: flex;
  margin-top: 100px;
  margin-left: 200px;
  }
.first_container{
  margin-left: 5px;
  }
.gallery_images img:hover{
  opacity: 0.6;
  }
#gallery .button{
  margin:70px 700px; 
  }
iframe{
  width: 100%;
  height: 700px;
  }
footer{
  background: url(../img/footer/footer-bg.png) no-repeat center top / cover;
  height: 520px;
  padding-top: 5px;
  }
#footer_main{
  display: flex;
  justify-content: space-around;
  margin-top: 220px;
  }
footer p{
  font-size: 14px;
  color:#fff;
  margin:50px 265px;
  }
#contact{
  width: 770px;
  height: 450px;
  background-color:#fff;
  position: absolute;
  top:400px;
  left:400px;
  }
#form_container{
  position: relative;
  }
#contact h2{
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
  margin-top: 80px;
  font-weight: 100;
  }
#contact_content p{
  font-size: 18px;
  line-height: 2;
  }
#contact_content{
  display: flex;
  justify-content: space-around;
  }
input{
  border: none;
  height: 45px;
  width: 300px;
  border-bottom:1px solid black;
  margin-top: 10px;
  }
form button{
  background-color: #fff;     
  width: 140px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  border-left: 1px solid #000;
  border-top: 1px solid #000;
  margin-top: 20px;
  margin-left: 160px;
  }
form button:hover{
  background-color:#2c4058;
  color:#fff;
  }
  
  }